*{
   
    list-style-type: none;
   
    text-decoration: none;
}
body{
    height: 100%;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    
    
 
}
section{
  display: flex;
 flex-direction: column;
  text-align: center;
  padding: 15px;
      
}
.uno{
    background-color:aqua;
}
.lenguaje{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
       
}
footer{
    background-color:rgb(78, 78, 236) ;
    padding: 5px;
    
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
   
}



