*{
    list-style-type: none;
}
nav{
    margin: 15px;
    padding: 5px;
    background-color: rgb(61, 61, 61);

}
ul{
    display: flex;
    flex-direction: row;
   justify-content: space-around; 
   cursor: pointer;
} 

body{
    background-color: aqua;
}
 
  
  
  
  